<header>

  <div class="fnac-top-header py-3">
    <div class="container d-flex align-items-center justify-content-between">

      <a class="navbar-brand d-flex align-items-center" href="#">
        <span class="brand-text">emi</span>
        <span class="brand-dot">.</span>
        <span class="brand-com">shop</span>
      </a>


      <div class="search-container flex-grow-1 mx-4 d-none d-lg-block">
        <div class="input-group">
          <input type="text" class="form-control search-input" placeholder="Rechercher un produit, une marque..."
            (input)="onSearch($event)">
          <button class="btn btn-search" type="button">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>


      <div class="user-actions d-flex align-items-center">
        <!-- Auth Actions -->
        <ng-container *ngIf="authService.currentUserSig() as user; else loginLink">
          <div class="action-item me-3 dropdown">
            <span class="d-none d-md-inline ms-1 dropdown-toggle" role="button" data-bs-toggle="dropdown">
              <i class="bi bi-person-check-fill"></i> {{ user.displayName || 'Compte' }}
            </span>
            <ul class="dropdown-menu">
              <li
                *ngIf="authService.currentUserSig()?.email === 'admin@emishop.com' || authService.currentUserSig()?.uid === 'admin-id'">
                <a class="dropdown-item" routerLink="/admin/orders">Tableau de bord Admin</a>
              </li>
              <li *ngIf="authService.currentUserSig()?.email !== 'admin@emishop.com'"><a class="dropdown-item"
                  routerLink="/order-history">Mes Commandes</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Déconnexion</a></li>
            </ul>
          </div>
        </ng-container>
        <ng-template #loginLink>
          <div class="action-item me-3">
            <a routerLink="/login" class="text-decoration-none text-dark">
              <i class="bi bi-person"></i>
              <span class="d-none d-md-inline ms-1">Connexion</span>
            </a>
          </div>
        </ng-template>

        <div class="action-item me-3" *ngIf="authService.currentUserSig()?.email !== 'admin@emishop.com'">
          <i class="bi bi-heart"></i>
          <span class="d-none d-md-inline ms-1">Favoris</span>
        </div>
        <div class="action-item position-relative" style="cursor: pointer;" data-bs-toggle="offcanvas"
          data-bs-target="#cartOffcanvas" *ngIf="authService.currentUserSig()?.email !== 'admin@emishop.com'">
          <i class="bi bi-cart"></i>
          <span class="d-none d-md-inline ms-1">Panier</span>
          @if (cartService.totalItems() > 0) {
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ cartService.totalItems() }}
          </span>
          }
        </div>
      </div>
    </div>
  </div>



</header>