<div class="categories-sidebar">
  <h5 class="categories-title" (click)="resetCategory()" style="cursor: pointer;">Catégories</h5>
  <ul class="categories-list">
    <li (click)="resetCategory()" style="cursor: pointer;">
      <i class="bi bi-grid me-2"></i>Tous les produits
    </li>
    @for (category of productService.categories(); track category.slug) {
    <li (click)="selectCategory(category.slug)" style="cursor: pointer;">
      <i class="bi bi-tag me-2"></i>{{ category.name }}
    </li>
    }
  </ul>
</div>