<div class="categories-sidebar">
  <h5 class="categories-title">Catégories</h5>
  <ul class="categories-list">
    <li><i class="bi bi-phone me-2"></i>Smartphones & Objets connectés</li>
    <li><i class="bi bi-laptop me-2"></i>Ordinateurs & Tablettes</li>
    <li><i class="bi bi-speaker me-2"></i>Son, Casques & Enceintes</li>
    <li><i class="bi bi-tv me-2"></i>TV, Vidéo & Home Cinéma</li>
    <li><i class="bi bi-camera me-2"></i>Photo & Caméras</li>
    <li><i class="bi bi-controller me-2"></i>Jeux Vidéo & Consoles</li>
    <li><i class="bi bi-book me-2"></i>Livres, BD & Mangas</li>
    <li><i class="bi bi-music-note-beamed me-2"></i>Musique, CD & Vinyles</li>
    <li><i class="bi bi-house-door me-2"></i>Maison, Cuisine & Électroménager</li>
    <li><i class="bi bi-bicycle me-2"></i>Sport & Loisirs</li>
  </ul>
</div>